<tr class="table-row">
  <td><%= cita.id %></td>
  <td><%= "#{cita.user.nombre} #{cita.user.apellido}" %></td>
  <td><%= cita.fecha %></td>
  <td><%= cita.observaciones %></td>
  <td><%= cita.servicio_id %></td>
  <td><%= cita.procedimiento %></td>
  <td><%= cita.asistencia %></td>
</tr>